* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin:  0 auto;
}

.tb {
    margin-left:  0;
    min-width: 350px;
    max-width: 500px;
    max-height: 600px;
    overflow: auto;
    min-height: 18px;
}

.tb2 {
    max-width: 500px;
    min-width: 350px;
    max-height: 600px;
    overflow: auto;
}

input {
    margin: 20px;
    cursor: pointer;
}

input:last-child {
    margin-right: 0;
}

p {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.write-down {
    color: #4285f4;
    font-weight: 500;
}

select {
    margin: 15px 15px 15px 0;
    cursor: pointer;
    width: 100%;
}

label {
    display: flex;
    align-items: center;
}

main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

table {
    max-width: 250px;
}

td {
    padding: 3px 5px;
    border-bottom: 1px solid rgba(66, 133, 244, 0.4);
    border-spacing: 0px;
}

td {
    cursor: pointer;
}

td:hover {
    color: #4285f4;;
}

.td1 {
    text-align: left;
    min-width: 120px;
}

.td2 {
    text-align: right;
    min-width: 210px;
}

.tables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.btn-clean::before {
    margin-right: 0;
}

span {
    padding: 0 20px;
    margin-left: 0;
}


.p-clean {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings {
    width: 45%;
}

.board {
    width: 45%;
}

.two {
    display: flex;
    justify-content: space-between;
    max-height: 430px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.element {
    height: 200px;
    background-color: rgb(247, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.element__names {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}


.element__rates {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button {
    margin: 15px 15px 15px 0;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #fcfdfe;
    width: 130px;
    padding: 14px 0;
    border-radius: 5px;
    background-color: #4285f4;
    transition: background-color 0.35s ease 0s;
    border: none;
}

button:hover {
    background-color: #f0f7ff;
    border: 2px solid #4285f4;
    padding: 12px 0;
    width: 130px;
    color: #4285f4;
}

.rates {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navi {
    display: block;
    margin: 30px 10px;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(247, 245, 245);
    padding-bottom: 0px;
    -webkit-transition: 0.3s ease; 
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease; 
    text-align: center;
}

.navi:hover {
    margin: 20px 10px 0px 10px;
    box-shadow: 0 0 10px 5px rgb(212, 212, 212);
    transition: margin 0.4s ease 0.05s;
}

.navi:hover .navi_span{
    display: block;
}

.navi__one {
    color: rgb(141, 141, 141);
    background: no-repeat  url("/img/pound-to-euro-exchange-rate-775171.jpg");
    background-size: 100% auto;
    background-position: 0%;
    opacity: 0.9;
}

.navi__two {
    color: rgb(141, 141, 141);
    background: no-repeat  url("/img/lowest-mortgage-interest-rates-home-buying-real-estate-lending-696x413.jpeg");
    background-size: 110%;
    background-position: 60% 50%;
    opacity: 0.9;
    
}

.navi__three {
    color: rgb(141, 141, 141);
    background: no-repeat  url("/img/convert.png");
    background-size: 65%;
    background-position: 50% ;
    opacity: 0.9;
}

.year {
    margin-right: 0
}

.navi_span {
    font-size: 20px;
    position: relative;
    top: 270px;
    display: none;

}

/* ---------------------------------------------------------------------------------------------------------------------------- */

html, 
body {
    height: 100%;
    line-height: 1;
}


body {
    font-family: Rubik;
    font-size: 16px;
    color: #616161;
}

.wrapper {
    width: 85%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.main {
    flex: 1 1 auto;
}


/* ---------------------------------------------------------------- */
.header__img {
    width: 200px;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;
}


.header__logo {
    z-index: 5;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0 40px 0 40px;
    text-align: center;
}

.menu__item:last-child {
    margin: 0 0 0 40px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    color: rgb(83, 83, 83);
    letter-spacing: 1px;

}

.menu__link:hover {
    text-decoration: underline;
    color: #4285f4;
}


footer {
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    margin: 0px auto;

}

.choose-period {
    width: 100%;
    font-size: 17px;
    margin-bottom: 31px;
}

/*                                                                             CONVERTER*/

.selects_converter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

.select_converter {
    width: 100%;


}

.settings_converter {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;

}

.input_result {
    margin: 15px;
    cursor:auto;
    text-align: center;
}


/* ----------------------------------------------------------POPUP---------- */

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: transparent;
    transform: translateY(0%) scale(0);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_body {
    margin: auto;
    width: 500px;
    background-color: #fff;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-size: 18px;
    padding: 100px 15px;
}

.popup_close{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.popup_close:hover {
    color: red;
}

.popup.active {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(0%) scale(100%);
}